<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>店面</title>
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/shop.css">
    <style>
        .BMapLabel{ text-indent:1.0rem; padding-bottom: 0.3rem;}
    </style>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/public.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=trLEKMVBCc6MKGemHlUXdyy2&s=1"></script>

</head>
<body>
<div class="nav">
    <div class="nav_top">
       <span class="menu_icon" id="show_menu">
       <img src="images/menu_icon.jpg">
   </span>
        <div class="logo">
            <img src="images/logo.jpg">
        </div>
    </div>
    <div class="nav_wrap">
        <ul class="nav_bot">
            <li>
                <a href="index.html">
                    <div class="txt">首页</div>
                    <div class="deco">Home</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="brand.html">
                    <div class="txt">品牌</div>
                    <div class="deco">brand</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="project.html">
                    <div class="txt">项目</div>
                    <div class="deco">service</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="doctor.html">
                    <div class="txt">专家</div>
                    <div class="deco">boss</div>
                </a>
                <div class="line"></div>
            </li>
            <li  class="current">
                <a href="shop.html">
                    <div class="txt">店面</div>
                    <div class="deco">store</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="case.html">
                    <div class="txt">案例</div>
                    <div class="deco">case</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="mall.html">
                    <div class="txt">商城</div>
                    <div class="deco">mall</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="text.html">
                    <div class="txt">文章</div>
                    <div class="deco">text</div>
                </a>
                <div class="line"></div>
            </li>
            <li>
                <a href="#">
                    <div class="txt">关于</div>
                    <div class="deco">about</div>
                </a>
                <div class="line"></div>
            </li>


        </ul>
    </div>
</div>
<div class="side_menu" >
    <div id="close_menu" class="close_menu">
        <img src="images/close.png">
    </div>
    <ul>
        <li class="index">
            <a href="index.html">首页</a>
        </li>
        <li class="item current">
            <a href="brand.html">品牌</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="project.html">项目</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="doctor.html">专家</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="shop.html">店面</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="case.html">案例</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="mall.html">商城</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="text.html">文章</a>
            <span class="deco"></span>
        </li>
        <li class="item ">
            <a href="#">关于</a>
            <span class="deco"></span>
        </li>

    </ul>
</div>
<div id="allmap" style="width: 100%; height:360px; margin-top: 4.4rem"></div>
<ul class="shopList">
    <li>
        <a href="#">
            <div class="tupian"><img src="images/shop_03.png"></div>
            <div class="tel"><img src="images/teln.png"></div>
            <div class="shop_intro">
                <h2 class="shopName">碧丽姿市委店</h2>
                <p class="distance">距您5.5km</p>
                <p class="addr">建国小经三路与纬四路交叉口西50米路北</p>
            </div>

        </a>
    </li>
    <li>
        <a href="#">
            <div class="tupian"><img src="images/shop_03.png"></div>
            <div class="tel"><img src="images/teln.png"></div>
            <div class="shop_intro">
                <h2 class="shopName">碧丽姿市委店</h2>
                <p class="distance">距您5.5km</p>
                <p class="addr">建国小经三路与纬四路交叉口西50米路北</p>
            </div>

        </a>
    </li>
    <li>
        <a href="#">
            <div class="tupian"><img src="images/shop-1.png"></div>
            <div class="tel"><img src="images/teln.png"></div>
            <div class="shop_intro">
                <h2 class="shopName">碧丽姿市委店</h2>
                <p class="distance">距您5.5km</p>
                <p class="addr">建国小经三路与纬四路交叉口西50米路北</p>
            </div>

        </a>
    </li>
</ul>
<script type="text/javascript">
    $(document).ready(function(){

            $.ajax({
                type:"GET",
                url:"js/data.json",
                dataType:"jsonp",
                success:function(data){
                  var num=data.info.length;
                   var location=[];
                  for(var i=0;i<num;i++){
                      var obj={};
                      obj.lat=data.info[i].latitude;
                      obj.long=data.info[i].longitude;
                      obj.name=data.info[i].shopname;
                      location.push(obj);
                  }
                    console.log(location);
                    // 百度地图API功能
                    var map = new BMap.Map("allmap");
                    var point = new BMap.Point(117.056792,36.64546);
                         var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}); //右上角，仅包含平移和缩放按钮
                        map.addControl(top_right_navigation);
                        map.centerAndZoom(point, 12);
                        map.enableScrollWheelZoom(true);
                        map.enableDragging();   //后开启拖拽
                    var myLabel = new BMap.Label("碧丽姿脂肪管理中心(燕翔路店)",     //为lable填写内容
                        {offset:new BMap.Size(0,0), position:point});                    //label的偏移量，为了让label的中心显示在点上

//    myLabel.setTitle("我是文本标注label");               //为label添加鼠标提示
                    map.addOverlay(myLabel);                             //把label添加到地图上


                    myLabel.setStyle({                                   //给label设置样式，任意的CSS都是可以的
                        color:"#333",                   //颜色
                        fontSize:"0.4rem",               //字号
                        border:"0",                    //边
                        height:"0.9rem",                //高度
                        width:"0.9rem",                 //宽
                        textAlign:"center",            //文字水平居中显示
                        lineHeight:"0.8rem",            //行高，文字垂直居中显示
                        background:"url(images/location_03.png)",    //背景图片，这是房产标注的关键！
                        backgroundSize:"contain",    //背景图片，这是房产标注的关键！
                        cursor:"pointer"
                    });

                    function addMark(x,y,msg){
                           var point = new BMap.Point(x,y);
                           var myLabel = new BMap.Label(msg,     //为lable填写内容
                          {offset:new BMap.Size(0,0), position:point});
                           map.addOverlay(myLabel);      //label的偏移量，为了让label的中心显示在点上
                          console.log(x);
                          console.log(y);
                          console.log(msg);
                        myLabel.setStyle({                                   //给label设置样式，任意的CSS都是可以的
                            color:"#333",                   //颜色
                            fontSize:"0.4rem",               //字号
                            border:"0",                    //边
                            height:"0.9rem",                //高度
                            width:"0.9rem",                 //宽
                            textAlign:"center",            //文字水平居中显示
                            lineHeight:"0.8rem",            //行高，文字垂直居中显示
                            background:"url(images/location_03.png)",    //背景图片，这是房产标注的关键！
                            backgroundSize:"contain",    //背景图片，这是房产标注的关键！
                            cursor:"pointer"
                        });

                   }
                 for(var k=0;k<num;k++){
                        addMark(location[k].long,location[k].lat,location[k].name);
                 }







                }
            });


















    });

</script>
</body>
</html>
