.doctor.intro {
  background-color: #fff;
  margin-top: 3.88888889rem;
}
.doctor.intro .main_pic {
  height: 6.44444444rem;
}
.doctor.intro .infoBox h2 {
  text-align: center;
  font-size: 0.71111111rem;
  line-height: 1.11111111rem;
  padding-top: 0.66666667rem;
  color: #000000;
}
.doctor.intro .infoBox .lable {
  width: 14.22222222rem;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.doctor.intro .infoBox .lable li {
  float: left;
  margin: 0.17777778rem 0.11111111rem;
  width: 2.53333333rem;
  height: 0.84444444rem;
  border-radius: 1.08888889rem;
  border: 1px solid #e3e3e3;
  text-align: center;
}
.doctor.intro .infoBox .lable li a {
  display: block;
  font-size: 0.48888889rem;
  line-height: 0.88888889rem;
  color: #646464;
}
.doctor.intro .infoBox .lable li.current {
  border: 1px solid #bd964f;
}
.doctor.intro .infoBox .lable li.current a {
  color: #bd964f;
}
.doctor.intro .infoBox .wenben {
  width: 13.5rem;
  margin: 0.22222222rem auto;
}
.doctor.intro .infoBox .wenben p {
  font-size: 0.62222222rem;
  color: #646464;
  line-height: 1.06666667rem;
}
.doctor.intro .infoBox .moreBox {
  padding: 0.44444444rem 0;
}
.doctor.intro .infoBox .moreBox .more {
  display: block;
  font-size: 0.48888889rem;
  line-height: 0.88888889rem;
  color: #646464;
  width: 2.55555556rem;
  height: 0.84444444rem;
  margin: 0 auto;
  border-radius: 1.08888889rem;
  border: 1px solid #a3a3a3;
  text-align: center;
}
