.product.intro {
  background-color: #fff;
  margin-top: 3.88888889rem;
  padding-bottom: 0.22222222rem;
  margin-bottom: 0.31111111rem;
}
.product.intro .main_pic {
  color: #fff;
  position: relative;
}
.product.intro .main_pic .tit {
  font-size: 0.66666667rem;
  width: 14rem;
  line-height: 0.93333333rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 1.44444444rem;
  transform: translateX(-50%);
}
.product.intro .main_pic .brief {
  font-size: 0.48888889rem;
  color: #bd964f;
  position: absolute;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  min-width: 4rem;
  padding: 0 3px;
  height: 0.75555556rem;
  border: 1px solid #bd964f;
  line-height: 0.75555556rem;
  border-radius: 0.75555556rem;
  text-align: center;
}
.product.intro .main_pic .video_type {
  width: 14.22222222rem;
  margin: 0 auto;
  padding-top: 10px;
}
.product.intro .main_pic .video_type li {
  float: left;
  margin: 0.17777778rem 0.11111111rem;
  width: 2.48888889rem;
  height: 1.04444444rem;
  border-radius: 1.08888889rem;
  border: 1px solid #e3e3e3;
  text-align: center;
}
.product.intro .main_pic .video_type li a {
  display: block;
  font-size: 0.44444444rem;
  line-height: 1.04444444rem;
  color: #646464;
}
.product.intro .main_pic .video_type li.current {
  border: 1px solid #bd964f;
}
.product.intro .main_pic .video_type li.current a {
  color: #bd964f;
}
.proList {
  background-color: #fff;
  padding-bottom: 0.66666667rem;
}
.proList .item {
  display: none;
}
.proList h2 {
  font-size: 0.66666667rem;
  text-align: center;
  position: relative;
  line-height: 1.33333333rem;
  padding: 0.55555556rem 0;
}
.proList h2:before {
  content: "";
  display: block;
  width: 1.42222222rem;
  height: 0.06666667rem;
  position: absolute;
  left: 50%;
  top: 1.88888889rem;
  transform: translateX(-50%);
  background-color: #bc964f;
}
.proList ul {
  width: 96%;
  margin: 0 auto;
}
.proList li {
  width: 4.44444444rem;
  float: left;
  margin: 0.17777778rem;
}
.proList .info {
  height: 2.22222222rem;
  border: 1px solid #bdbdbd;
}
.proList .info .p1 {
  display: block;
  font-size: 0.53333333rem;
  line-height: 0.77777778rem;
  text-align: center;
  color: #000;
  padding-top: 0.33333333rem;
}
.proList .info .p2 {
  display: block;
  font-size: 0.53333333rem;
  line-height: 0.77777778rem;
  text-align: center;
  color: #000;
}
