.shopList li {
  height: 4.11111111rem;
  border-bottom: 1px solid #eeeeee;
  position: relative;
  padding-left: 4.22222222rem;
  background-color: #fff;
}
.shopList li a {
  display: block;
  height: 100%;
}
.shopList li a .tupian {
  height: 3.24444444rem;
  width: 3.24444444rem;
  position: absolute;
  left: 0.44444444rem;
  top: 0.44444444rem;
}
.shopList li a .tel {
  height: 0.88888889rem;
  width: 0.88888889rem;
  position: absolute;
  right: 1rem;
  top: 1.66666667rem;
}
.shopList li a .shop_intro {
  width: 7.77777778rem;
  padding-top: 0.33333333rem;
}
.shopList li a .shop_intro .shopName {
  font-size: 0.66666667rem;
  color: #000;
  line-height: 1rem;
}
.shopList li a .shop_intro .distance {
  color: #bcbfc2;
  font-size: 0.48888889rem;
  line-height: 0.77777778rem;
  padding-left: 0.66666667rem;
  background: url("../images/loc.png") no-repeat left center;
  background-size: 0.55555556rem 0.55555556rem;
}
.shopList li a .shop_intro .addr {
  color: #6b767a;
  font-size: 0.48888889rem;
  line-height: 0.77777778rem;
}
